:root {
	--font-title: 'Amatic SC', cursive;
	--font-body: 'Montserrat', sans-serif;

	--color-first: #F6A8EF;
	--color-first-darker: #a4709f;
	--color-second: #233046;
	--color-third: #92F4A5;
	
	--color-white-first: #FFFFFF;
	
	--color-black-first: #000000;
	--color-black-second: #3A4042;
	--color-black-third: #828282;
}

body {
    line-height: 1;
}