header {
    display: flex;
    justify-content:space-between;
    background-color:#07347D;
    padding: 10px 20px;
    border-bottom: 7px solid #000;
}

nav{
    text-align: right;
}

.logo {
    height: 50px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 0 3px;
    margin: 3px 0;
    transition: .4s ease-in-out;
    text-shadow: 2px 2px 0px #000000;
}

.nome {
    position: absolute;
    left: -60px;
    transition: 0.4s cubic-bezier(.68,-0.55,.27,1.55);
}

.logo:hover .nome {
    transform: translateX(82px);
}

p {
    font-family: 'Zen Dots', cursive;
    color:#FFFFFF;
    font-size: 20px;
}

a {
    display: inline-flex;
    align-items: center;
    color:#FFFFFF;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    margin-right: 30px;    
}

a::before {
    content:"";
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color:#D295D5;
    margin-right:10px;
}

a:hover {
    text-decoration: underline;
}

.photo-blur {
    background-image: url(https://github.com/danicaus/danicaus.github.io/blob/master/assets/img/background-photo.jpg?raw=true);
}

