.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-second);
    padding: 1% 8%;
    height: 5rem;
    box-sizing: border-box;
    border-bottom: 10px solid var(--color-black-first);
}

@media screen and (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}