.banner__presentation {
    display: inline-block;
    background-color: var(--color-second);
    box-shadow: 5px 5px var(--color-black-first);
    text-align: center;
    padding: 3rem 8rem;
}

.banner__presentation .main-title {
    margin-bottom: 28px;
}