.banner {
    box-sizing: border-box;
    background-color: var(--color-second);
    border-bottom: 10px double var(--color-first);
    height: calc(100vh - 5rem);
    background-image: url(../../../assets/img/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    padding: 8%;
}

.banner .banner__wrapper {
    display: flex;
    flex-direction: column;
}

.banner .banner__presentation {
    margin-bottom: 40px;
}

.banner .button__wrapper {
    display: flex;
    justify-content: space-around;
}