.window-top {
    display: flex;
    /* justify-content: end; */
    align-items: center;

    text-align: left;
    padding-left: 1rem;
    box-sizing: border-box;

    position: relative;
    
    width: 100%;
    height: 25px; 
    background-color: var(--color-white-first);
}

.window-top > h2 {
    color: var(--color-black-second);
    font-weight: 700;
    font-size: 1rem;
}

.window-top > i:first-of-type {
    width: 10px;
    height: 10px;

    margin-right: 20px;

    border: solid 1px black;
    position: absolute;
    right: 5%;
}

.window-top > i:nth-of-type(2) {
    width: 10px;

    position: absolute;
    top: 50%;
    right: 65px;

    border-top: solid 1px black;
}

.window-top > i:last-child {
    height: 12px;
    width: 12px;

    margin-right: 5px;

    position: absolute;
    right: 1%;
}

.window-top > i:last-child::before, .window-top > i:last-child::after {
    content: " ";

    position: absolute;

    height: 100%;
    width: 0.5px;
    background-color: black;

}

.window-top > i:last-child::before {
    transform: rotate(45deg);
}

.window-top > i:last-child::after {
    transform: rotate(-45deg);
}

