.button {
    display:inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color:#FFF;
    background-color:#D295D5;
    padding: 16px 20px;
    border-radius: 2px;
    box-shadow: 5px 5px 2px #000000;
    margin-right: 0;
    cursor: pointer;    
    transition: 50ms linear;
}

.button:hover {
    background-color:#936995;
    transform: scale(1.02);
}

.button:active {
    box-shadow: 2px 2px #000000;
    transform: translateY(3px) translateX(3px);
}