.logo-danicaus {
    font-family: 'Zen Dots', cursive;
    color: var(--color-white-first);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 0 3px;
    margin: 3px 0;
    transition: .4s ease-in-out;
    text-shadow: 2px 2px 0px var(--color-black-first);
}



@media screen and (min-width: 1024px) {

    .logo-nome {
        position: absolute;
        left: -60px;
        transition: all 0.4s cubic-bezier(.68,-0.55,.27,1.55);
    }

    .logo-danicaus:hover .logo-nome {
        transform: translateX(82px);
    }
}