.main-section {
    background-color: var(--color-second);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px double var(--color-first);
}

.main-section .main-title {
    margin-bottom: 60px;
}
