.main-button {
    display:inline-block;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-second);
    background-color: var(--color-first);
    padding: 16px 20px;
    border-radius: 2px;
    box-shadow: 5px 5px 2px var(--color-black-first);
    margin-right: 0;
    cursor: pointer;    
    transition: 50ms linear;
}

.main-button:hover {
    background-color: var(--color-first-darker);
    transform: scale(1.02);
}

.main-button:active {
    box-shadow: 2px 2px var(--color-black-first);
    transform: translateY(3px) translateX(3px);
}