.main-section {
    background-color:#D295D5;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #07347D;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color:#000000; 
}

.main-section.-bdFirst {
    border-color:#D295D5;
}

.main-section.-bgBlue {
    background-color: #07347D;
}

.main-section.-bdBlack {
    border-color: #000000;
}

.main-section.-section-clean {
    border: none;
    background-color: #3A4042;
}