.main-text {
    margin: 80px 50px 0 50px;
    font-weight: 300;
    line-height: 1.4;
    font-size: 30px;
    color: var(--color-white-first);
    font-family: var(--font-body);
    text-align: justify;
}

.main-text.-contact-label {
    margin-left: 0px;
}