.main-button {
    display:inline-block;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: var(--color-white-first);
    background-color: var(--color-first);
    padding: 16px 20px;
    border-radius: 2px;
    box-shadow: 5px 5px 2px var(--color-black-first);
    margin-right: 0;
    cursor: pointer;    
    transition: 50ms linear;
}

.main-button:hover {
    background-color: var(--color-first-darker);
    transform: scale(1.02);
}

.main-button:active {
    box-shadow: 2px 2px var(--color-black-first);
    transform: translateY(3px) translateX(3px);
}

.main-button.-sendButton {
    width: 100%;
    font-size: 30px;
    margin-top: 140px;
}