.main-title {
    color: var(--color-first);
    text-shadow: 4px 4px 0px var(--color-black-first);
    font-family: 'Zen Dots', sans-serif;
    font-size: 50px;
}

.main-title.-second {
    text-align: center;
    color: var(--color-white-first);
    text-shadow: none;
}