.main-title {
    color: #D295D5;
    text-shadow: 4px 4px 0px #000000;
    font-family: 'Zen Dots', sans-serif;
    font-size: 50px;
}

.main-title.-second {
    text-align: center;
    color: #FFFFFF;
    text-shadow: none;
}

.section .main-title {
    margin-bottom: 100px;
}