.main-banner {
    box-sizing: border-box;
    background-color: var(--color-second);
    border-bottom: 10px double var(--color-first);
}

.photo-danicaus{
    width: 100%;
}

.main-banner .wrapper {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 670px;
    margin: 115px 90px;
}

.main-banner .main-box {
    margin-bottom: 40px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}