.main-text {
    margin: 80px 50px 0 50px;
    font-weight: 300;
    line-height: 1.4;
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
}

.main-text.-contact-label {
    margin-left: 0px;
}