.main-nav {
    display: inline-flex;
    align-items: center;
    color:var(--color-white-first);
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    margin-right: 30px;    
}

.main-nav::before {
    content:"";
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color:var(--color-first);
    margin-right:10px;
}

.main-nav:hover {
    text-decoration: underline;
}