.project-card {
    max-width: 280px;
    max-height: 280px;
    box-shadow: 10px 10px 0px var(--color-third);
}


.wrapper-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -100px;
}

.wrapper-cards > * {
    margin-top: 100px;
}