.project__card {
    height: 2.8rem;
    width: 3rem;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    margin-right: 3rem;
}


.projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -10rem;
}

.projects__wrapper > li {
    margin-top: 10rem;
}