.section {
    background-color: var(--color-second);
    padding: 5rem 10% 10rem 10%;
    border-bottom: 10px double var(--color-first);
}

.section .title {
    margin-bottom: 5rem;
}

.section.section--padding-timeline {
    padding-left: 0;
    padding-right: 0;
}