#html {
    grid-area:cel1;
}

#css {
    grid-area:cel2;
}

#javascript {
    grid-area:cel3;
}

#sql {
    grid-area:cel4;
}

#excel {
    grid-area:cel5;
}

#ingles {
    grid-area:cel6;
}

.skill-grid {
    display: grid;
    grid-template-rows: 90px 90px 90px;
    grid-template-columns: 430px 430px;
    gap: 40px 100px;
    grid-template-areas:
        "cel1 cel2"
        "cel3 cel4"
        "cel5 cel6";
    place-items: center;
    justify-content: center;
}

.skill-grid .grid-cell {
    display: inline-flex;
}

.grid-cell .wrapper-progress {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}