#html {
    grid-area:cel1;
}

#css {
    grid-area:cel2;
}

#javascript {
    grid-area:cel3;
}

#sql {
    grid-area:cel4;
}

#excel {
    grid-area:cel5;
}

#ingles {
    grid-area:cel6;
}

.skill {
    display: grid;
    grid-template-rows: 90px 90px 90px;
    grid-template-columns: 430px 430px;
    gap: 40px 100px;
    grid-template-areas:
        "cel1 cel2"
        "cel3 cel4"
        "cel5 cel6";
    place-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}

.skill .skill-grid-cell {
    display: inline-flex;
}