.skill-bar {
        box-sizing: border-box;
        background-color: var(--color-white-first);
        height: 40px;
        width: 320px;
        border: 5px solid var(--color-black-first);
}

.skill-bar::-webkit-progress-value, .skill-bar::-moz-progress-bar {
        background-color: var(--color-third);
}