.skill-bar {
	box-sizing: border-box;
	background-color: var(--color-white-first);
	height: 2rem;
	width: 50vw;
	border: 5px solid var(--color-black-first);
}

.skill-bar::-webkit-progress-value, .skill-bar::-moz-progress-bar {
	background-color: var(--color-third);
}

@media screen and (min-width: 1024px) {
	.skill-bar {
			width: 320px;
	}
}