.timeline-line {
    width: 60px;
    height: 55px;
    padding-top: 25px;
    margin-bottom: 5px;
}

.timeline-border {
    width: 60px;
    height: 0px;
    border: 5px dashed var(--color-black-first);
    box-sizing: border-box;
}