.timeline-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 55px;
    box-sizing: border-box;
    position: relative;
}

.timeline-box {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.timeline-corner {
    backdrop-filter: opacity(0.5);
    position: absolute;
}

.timeline-box::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 25px;
    display: block;
    height: 10px;
    width: 100%;
    background-color: #000;
}