.timeline-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 150px; 
    background: rgba(20, 20, 20, 0.5);
    cursor: pointer;
}

.-btPrevious {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.-btNext {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.timeline-wrapper .timeline-button {
    position: absolute;
}

.timeline-wrapper .timeline-corner.-left {
    left: 0px;
}

.timeline-wrapper .timeline-corner.-right {
    right: -5px;
}