.timeline-wrapper {
    display: flex;
}

.timeline-box {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
}

.timeline-box::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 25px;
    display: block;
    height: 10px;
    width: 100%;
    background-color: #000;
}