.timeline-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 55px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
}

.timeline-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    left: 60px;
    top: 25px;
    height: 10px;
    width: calc(100% - 120px);
    background-color: #000;
    z-index:1;
}

.timeline-slider {
    transform: translateX(0px);
}

.timeline-wrapper .timeline-slider {
    display: inline-flex;
    position: relative;
    z-index: 0;
    overflow-x: visible;
    width: 100%;
    transition: transform .54s cubic-bezier(.5,0,.1,1) 0s;
}

.timeline-corner {
    position: absolute;
    z-index: 2;
}