.title {
    color: var(--color-third);
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 80px;
}

.title.-second {
    text-align: center;
    color: var(--color-white-first);
}