h1 {
    color: #FFFFFF;
    text-shadow: 4px 4px 0px #000000;
    font-family: 'Zen Dots', sans-serif;
    font-size: 50px;
}

h2 {
    color: #FFFFFF;
    text-shadow: 4px 4px 0px #000000;
    font-family: 'Zen Dots', sans-serif;
    font-size: 25px;
    padding-top: 10px;
}